[Unit]
Description=Shadowsocks Go Proxy Platform
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/shadowsocks-go -confPath /etc/shadowsocks-go/%i.json -suppressTimestamps

[Install]
WantedBy=multi-user.target
