[Unit]
Description=Shadowsocks Go Proxy Platform
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/shadowsocks-go service -zapConf systemd /etc/shadowsocks-go/%i.json
ExecReload=/usr/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
