[Unit]
Description=Shadowsocks Go Proxy Platform
After=network-online.target
Wants=network-online.target

[Service]
Type=notify-reload
ExecStart=/usr/bin/shadowsocks-go service -logNoColor=0 -logNoTime /etc/shadowsocks-go/config.json
ReloadSignal=SIGUSR1

[Install]
WantedBy=multi-user.target
