name: Test with gotip

on:
  workflow_dispatch:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Install gotip
        run: |
          go install golang.org/dl/gotip@latest
          gotip download

      - name: Build
        if: matrix.os != 'windows-latest'
        run: |
          gotip build -v -trimpath -ldflags '-s -w' ./cmd/shadowsocks-go
          gotip build -v -trimpath -ldflags '-s -w' ./cmd/shadowsocks-go-domain-set-converter

      - name: Build with tag tfogo_checklinkname0
        if: matrix.os == 'windows-latest'
        run: |
          gotip build -v -trimpath -ldflags '-s -w -checklinkname=0' -tags tfogo_checklinkname0 ./cmd/shadowsocks-go
          gotip build -v -trimpath -ldflags '-s -w -checklinkname=0' -tags tfogo_checklinkname0 ./cmd/shadowsocks-go-domain-set-converter

      - name: Test
        run: gotip test -v ./...

      - name: Test with tag tfogo_checklinkname0
        if: matrix.os == 'windows-latest'
        run: gotip test -v -ldflags '-checklinkname=0' -tags tfogo_checklinkname0 ./...

      - name: Upload Binaries
        uses: actions/upload-artifact@v5
        with:
          name: shadowsocks-go-${{ github.sha }}-${{ matrix.os }}-${{ runner.arch }}
          path: shadowsocks-go*
